<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultBinding_IHelloWorldService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="DefaultBinding_IHelloWorldService"
                contract="IHelloWorldService" name="DefaultBinding_IHelloWorldService_IHelloWorldService" />
        </client>
    </system.serviceModel>
</configuration>