<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="PhoneWorld_Droid.PhoneWorld_Droid">
	<uses-sdk android:minSdkVersion="14" />
	<application android:label="PhoneWorld" android:icon="@drawable/icon">
		
	</application>
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest>