<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="amazonSecurityNamespace"  value="http://security.amazonaws.com/doc/2007-01-01/" />
    <add key="accessKeyId"  value="[accessKeyId]" />
    <add key="secretKey"  value="[secretKey]" />
  </appSettings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="signingBehavior" type="Amazon.PAAPI.WCF.AmazonSigningBehaviorExtensionElement, Amazon.PAAPI.WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="amazonEndpointBehavior">
          <signingBehavior accessKeyId="[accessKeyId]" secretKey="[secretKey]" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="AWSECommerceServiceBindingNoTransport" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AWSECommerceServiceBindingTransport">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding5">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding6">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding7">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding8">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding9">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding10" />
      </basicHttpBinding>
    </bindings>
    <client>
     
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBindingTransport"  behaviorConfiguration="amazonEndpointBehavior"
        contract="Amazon.PAAPI.AWSECommerceServicePortType" name="AWSECommerceServicePort" />
      <!--<endpoint address="https://webservices.amazon.ca/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding1"
        contract="Amazon.PAAPI.AWSECommerceServicePortType" name="AWSECommerceServicePortCA" />
      <endpoint address="https://webservices.amazon.cn/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding2"
        contract="Amazon.PAAPI.AWSECommerceServicePortType" name="AWSECommerceServicePortCN" />
      <endpoint address="https://webservices.amazon.de/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding3"
        contract="Amazon.PAAPI.AWSECommerceServicePortType" name="AWSECommerceServicePortDE" />
      <endpoint address="https://webservices.amazon.es/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding4"
        contract="Amazon.PAAPI.AWSECommerceServicePortType" name="AWSECommerceServicePortES" />
      <endpoint address="https://webservices.amazon.fr/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding5"
        contract="Amazon.PAAPI.AWSECommerceServicePortType" name="AWSECommerceServicePortFR" />
      <endpoint address="https://webservices.amazon.it/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding6"
        contract="Amazon.PAAPI.AWSECommerceServicePortType" name="AWSECommerceServicePortIT" />
      <endpoint address="https://webservices.amazon.co.jp/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding7"
        contract="Amazon.PAAPI.AWSECommerceServicePortType" name="AWSECommerceServicePortJP" />
      <endpoint address="https://webservices.amazon.co.uk/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding8"
        contract="Amazon.PAAPI.AWSECommerceServicePortType" name="AWSECommerceServicePortUK" />
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding9"
        contract="Amazon.PAAPI.AWSECommerceServicePortType" name="AWSECommerceServicePortUS" />-->
    </client>
  </system.serviceModel>
</configuration>