<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Shavuot.Service.ShavuotService">
        <clear />
        <endpoint address="net.pipe://shavuotservice" binding="netNamedPipeBinding"
          name="NetPipe" contract="Shavuot.Contract.IShavuotService" listenUriMode="Explicit">
        </endpoint>
        <endpoint address="net.tcp://localhost:8888/shavuotservice" binding="netTcpBinding"
          bindingConfiguration="" name="TCPIP" contract="Shavuot.Contract.IShavuotService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>