<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="commandSimple" type="System.Configuration.NameValueSectionHandler" />
    <section name="CommandsSection" type="ConfigurationTests.CommandsComplexSection, ConfigurationTests" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <commandSimple>
    <add key="key11" value="value11" />
    <add key="key12" value="value12" />
  </commandSimple>

  <CommandsSection>
    <Commands>
      <command Name="command1">
        <Comment Text="text1"/>
      </command>
      <command Name="command2"></command>
    </Commands>
  </CommandsSection>

</configuration>
