<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="ProcessNameNoExt" value="${replace:searchFor=.vshost:replaceWith=:inner=${processname}}" />
  <variable name="pcProcessMemory1" value="${performancecounter:Category=Process:Counter=Working Set - Private:Instance=PerformanceCounterInvestigation}" />
  <variable name="pcProcessMemory2" value="${performancecounter:Category=Process:Counter=Working Set - Private:Instance=${processname}}" />
  <variable name="pcGlobalMemory" value="${performancecounter:Category=Memory:Counter=Available MBytes}"/>
  <variable name="standard" value="mem: ${pcGlobalMemory}Mb process=${processname} mem:${pcProcessMemory1}/${pcProcessMemory2} ${message}" />
  <variable name="WithPerformanceCounter" value="mem: ${pcGlobalMemory}Mb process=${processname} mem:${pcProcessMemory1} ${message}" />
  <variable name="WithoutPerformanceCounter" value="mem: ${pcGlobalMemory}Mb process=${processname} ${message}" />

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${standard}"/>
    <target name="WithoutPerformanceCounter" xsi:type="file" fileName="${basedir}/logs/${shortdate}_Without.log" layout="${WithoutPerformanceCounter}"/>
    <target name="WithPerformanceCounter" xsi:type="file" fileName="${basedir}/logs/${shortdate}_With.log" layout="${WithPerformanceCounter}"/>
    <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${standard}" />    
      
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="standard" minlevel="Trace" writeTo="console" />
    <logger name="WithoutPerformanceCounter" minlevel="Trace" writeTo="WithoutPerformanceCounter" />
    <logger name="WithPerformanceCounter" minlevel="Trace" writeTo="WithPerformanceCounter" />
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>