<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        ">

  <context:annotation-config />
  <!--<aop:aspectj-autoproxy />-->

  <!--<import resource="generators.xml"/>-->
  <bean id="sequenceGenerator"
        class="com.mycompany.app.SequenceGenerator">
    <property name="prefix" value="pre-" />
    <property name="initial" value="100000" />
    <property name="suffixes" value="A" />
    <property name="prefixGenerator">
      <ref local="datePrefixGenerator" />
    </property>
  </bean>

  <bean id="sequenceGeneratorCtor"
        class="com.mycompany.app.SequenceGenerator">
    <constructor-arg type="java.lang.String" index="0" name="prefix" value="prector-" />
    <constructor-arg type="int" index="2" name="initial" value="100" />
    <constructor-arg index="1" name="suffixes" value="X" />
  </bean>

  <bean id="sequenceGeneratorShort"
        class="com.mycompany.app.SequenceGenerator"
    p:prefix="30" p:suffixes="A" p:initial="20" />

  <bean id="sequenceGeneratorList"
        class="com.mycompany.app.SequenceGenerator">
    <property name="prefix" value="list-" />
    <property name="initial" value="900" />
    <property name="suffixes">
      <list>
        <value>list1</value>
        <value>list2</value>
        <bean class="java.net.URL">
          <constructor-arg value="http" />
          <constructor-arg value="www.apress.com" />
          <constructor-arg value="/" />
        </bean>
        <null />
      </list>
    </property>
  </bean>

  <bean id="sequenceGeneratorSet"
        class="com.mycompany.app.SequenceGenerator">
    <property name="prefix" value="list-" />
    <property name="initial" value="900" />
    <property name="suffixes">
      <set>
        <value>list1</value>
        <value>list2</value>
        <bean class="java.net.URL">
          <constructor-arg value="http" />
          <constructor-arg value="www.apress.com" />
          <constructor-arg value="/" />
        </bean>
        <null />
      </set>
    </property>
  </bean>

  <bean id="sequenceGeneratorMap"
        class="com.mycompany.app.SequenceGenerator">
    <property name="prefix" value="list-" />
    <property name="initial" value="900" />
    <property name="suffixes">
      <map>
        <entry>
          <key>
            <value>type</value>
          </key>
          <value>A</value>
        </entry>
        <entry key="type" value="B" />
      </map>
    </property>
  </bean>

  <bean id="aaa" class="com.mycompany.app.Battery">
    <property name="name" value="AAA" />
    <property name="price" value="2.5" />
    <property name="rechargeable" value="true" />
  </bean>
  <bean id="cdrw" class="com.mycompany.app.Disc">
    <property name="name" value="CD-RW" />
    <property name="price" value="1.5" />
    <property name="capacity" value="700" />
  </bean>

  <bean id="datePrefixGenerator"
        class="com.mycompany.app.DatePrefixGenerator">
    <property name="pattern" value="yyyy-MM-dd" />
  </bean>

</beans>